<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Document</title>
</head>

<body>
    <div class="card-container">
        <h1 style="text-align: center;">Tentang Kami</h1>
        <p style="text-align: center;">Lorem ipsum dolor sit amet.</p>
        <div class="card-group">
            <div style="background: rgb(gray);">
                <!-- <img src="../../../assets/img/susu-uht-ultra.png" alt="ultramilk"> -->
            </div>
            <h1 class="card-title" style="text-align: center;">Headline</h1>
            <hr>
            <ul>
                <li class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque recusandae ad
                    cum velit error cupiditate!</li>
                <li class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nostrum nulla
                    minima officiis ea incidunt.</li>
                <li class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eos autem quos
                    et dicta veritatis!</li>
            </ul>
        </div>
        <div class="card-group">
            <div style="background: rgb(gray);">
                <!-- <img src="../../../assets/img/susu-uht-ultra.png" alt="ultramilk"> -->
            </div>
            <h1 class="card-title" style="text-align: center;">Headline</h1>
            <hr>

            <ul>
                <li class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque recusandae ad
                    cum velit error cupiditate!</li>
                <li class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nostrum nulla
                    minima officiis ea incidunt.</li>
                <li class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eos autem quos
                    et dicta veritatis!</li>
            </ul>
            <a href=""></a>
        </div>
        <br><br>
        <!-- About Me -->
        <h1 style="text-align: center;">Tentang Saya</h1>
        <p style="text-align: center;">Lorem ipsum dolor sit amet.</p>

        <div class="card-profile">
            <div style="background: rgb(gray);">
                <!-- <img src="../../../assets/img/susu-uht-ultra.png" alt="ultramilk"> -->
            </div>
            <h1 class="card-title" style="text-align: center;">Headline</h1>
            <hr>

            <ul>
                <li class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque recusandae ad
                    cum velit error cupiditate!</li>
                <li class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat nostrum nulla
                    minima officiis ea incidunt.</li>
                <li class="card-subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem eos autem quos
                    et dicta veritatis!</li>
            </ul>
            <a href=""></a>
        </div>

    </div>
</body>

</html>