<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section>
        <div class="headline">
            <h1>Formulir Langganan SEA Catering</h1>
            <p>Isi formulir berikut untuk mulai berlangganan layanan makanan kami</p>
        </div>
        <div class="box">
            <h3>Informasi Pribadi</h3>
            <hr>
            <form action="" class="form">
                <!-- Nama Lengkap -->
                <label for="nama">Nama Lengkap</label>
                <input type="text" id="nama">
                
                <!-- No.telepon -->
                <label for="number">Nomor Telepon Aktif</label>
                <input type="number" id="number">
            </form>
<!-- Pilihan Paket  -->
            <h3>Pilihan Paket</h3>
            <hr>
            <div class="grid-box">
                <div>
                    <h3>Paket Diet</h3>
                </div>
                <div>
                    <h3>Paket Protein</h3>
                </div>
                <div>
                    <h3>Paket Royal</h3>
                </div>
            </div>            
<!-- Pilihan Paket  -->
<!-- Jenis Makanan  -->
            <h3>Jenis Makanan <span>(Pilih minimal 1)</span></h3>
            <hr>
            <div class="grid-box">
                <div>
                    <h3>Sarapan</h3>
                </div>
                <div>
                    <h3>Makan Siang</h3>
                </div>
                <div>
                    <h3>Makan Malam</h3>
                </div>
            </div>
<!-- Jenis Makanan  -->
<!-- Hari Pengantaran -->
            <h3>Hari Pengantaran</span></h3>
            <hr>
            <div style="
                display: grid;
                grid-template-columns: repeat(4,minmax(0,1fr));
            "
            >
                <div>
                    <h3>Senin</h3>
                </div>
                <div>
                    <h3>Selasa</h3>
                </div>
                <div>
                    <h3>Rabu</h3>
                </div>
                <div>
                    <h3>Kamis</h3>
                </div>
            </div>
 <!-- Hari Pengantaran -->
        </div>
    </section>  
</body>
<style>
    .headline{
        text-align: center;
    }
    .box{
        background-color: white;
        border-radius: 0.5rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    }
    .grid-box{
        display: grid;
        grid-template-columns: repeat(3,minmax(0,1fr));
    }

    .form > label+input{
        display: block;
        margin: 1rem 0 1rem 0;
    }
</style>
</html>

